/*  
===============
Google Fonts:
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*  
===============
Base styles
===============
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
}

:root {
  --gray: #f8f8f9;
  --gray-medium: #e8ecf1;
  --white: #ffffff;
  --royal-blue: #0b2a5a;
  --purple: #6b00bc;
  --blue: #0062ff;
  --red: #df0000;
  --green: #60d91a;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f8f8f9;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: all 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

/*  
===============
Header
===============
*/
.header-area {
  background-color: #fff;
  padding: 0.625rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo img {
  width: 120px;
}

.logo{
  color:#6b00bc;
  font-size: 22px;
}
.main-nav ul,
.auth-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav li:not(:last-child),
.auth-nav li:not(:last-child) {
  margin-right: 1rem;
}

.main-nav a,
.auth-nav a {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.main-nav a.active,
.main-nav a:hover,
.main-nav a:focus {
  color: var(--blue);
}

.auth-nav li:first-child {
  color: var(--blue);
}

.auth-nav li:last-child {
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.hamburger-icon {
  position: fixed;
  top: 0;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  font-size: 25px;
  border: none;
  background-color: transparent;
}

.auth-nav li:last-child a {
  box-shadow: rgb(96 217 26 / 30%) 0px 10px 20px;
}

.hamburger-icon:focus {
  outline: none;
}

.menu {
  display: none;
}

/*  
===============
Sidebar
===============
*/

.sidebar {
  background-color: #091f99;
  color: #fff;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  top: 0;
  transition: all 0.3s;
  transform: translateX(-100%);
  z-index: 2;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-close {
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  visibility: visible;
  color: #fff;
  font-size: 25px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.user-info h2 {
  margin-bottom: 10px;
  color: #fff;
}

.user-info p {
  color: #9a9abe;
}

.user-info p:nth-of-type(1) {
  font-size: 16px;
}

.user-info p:nth-of-type(2) {
  font-size: 14px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 2px #fff;
  margin: 10px 0;
}

.sidebar-nav img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sidebar-nav li:not(:last-child) {
  margin-bottom: 15px;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.2s;
  border-left: solid 5px transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(235, 227, 227) !important;
}

.sidebar-nav a.active,
.sidebar-nav a:hover {
  color: var(--green) !important;
  border-left: solid 5px var(--green);
}

.sidebar-nav li:last-child {
  position: relative;
}

.sidebar-nav .badge {
  position: absolute;
  top: -3px;
  left: 28px;
  background-color: var(--red);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: rgb(255, 255, 255);
}

/*  
===============
Main Content
===============
*/

.main {
  padding: 1rem;
  overflow-y: auto;
  height: 100vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 10px;
}

.card {
  background-color: var(--purple);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.card table{
  color:#fff;
}

.card:nth-child(1){
  background: #091f99;
}

.card:nth-child(2){
  background: #0062ff;
}

.card:nth-child(3){
  background: #b1640c;
}

.card:nth-child(4){
  background: #4208e0;
}

.card:nth-child(5){
  background: #6ddd2c;
}

.card:nth-child(6){
  background: #d41bac;
}

.card-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.tab {
  background-color: var(--gray-medium);
  color: #728391;
  padding: 8px 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s;
}

.tab:hover,
.tab.active {
  background-color: var(--blue);
  color: #fff;
  box-shadow: 0px 10px 20px #0062ff4d;
}

.dashboard-card {
  background-color: #fff;
  box-shadow: 0px 5px 10px #01368619;
  border-radius: 10px;
  margin-top: 30px;
}

.dashboard-card-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard-content span {
  text-transform: uppercase;
  color: #728391;
  font-size: 14px;
}

.dashboard-content h2 {
  color: #1000a9;
  font-size: 18px;
  font-weight: normal;
  margin: 10px 0 15px 0;
}

.dashboard-content time {
  color: #aaaabe;
  font-size: 14px;
}

.detail p {
  color: #728391;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.detail h2 {
  font-size: 18px;
  font-weight: bold;
  color: #1000a9;
}

.dashboard-img img {
  width: 100%;
  height: auto;
}

.dashboard-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.dashboard-card-footer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid 5px #f8f8f9;
}

.dashboard-card-footer a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  color: var(--blue);
}

.dashboard-card-footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.dashboard-card-footer li:not(:last-child) {
  margin-right: 10px;
}

.actions li:not(:last-child) {
  margin-right: 10px;
}

.social a {
  color: #728391;
}

.social li:nth-of-type(1) i {
  font-size: 10px;
}

.social li:nth-of-type(2) i {
  font-size: 12px;
}

/*  
===============
WORKSHOP PAGE
===============
*/

.workshop-page .tabs {
  margin-top: 0;
}

.workshop-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.workshop-card {
  box-shadow: 0px 5px 10px #01368619;
  padding: 1rem;
  border-radius: 10px;
}

.workshop-card-img img {
  width: 100%;
}

.workshop-card-content h2 {
  font-size: 1rem;
  margin: 0.4rem 0 1rem 0;
}

.workshop-card-content time {
  font-size: 0.875rem;
  color: #728391;
}

/*  
===============
PROFILE PAGE
===============
*/
.profile-form input[type='text'],
.profile-form input[type='search'],
.profile-form input[type='email'],
.profile-form input[type='password'],
.profile-form input[type='url'],
.profile-form input[type='tel'],
.profile-form textarea {
  border: none;
  background-color: #f8f8f9;
  padding: 10px;
  width: 100%;
  font-family: inherit;
  font-size: 0.875rem;
}

.profile-form input[type='text']:focus,
.profile-form input[type='search']:focus,
.profile-form input[type='email']:focus,
.profile-form input[type='password']:focus,
.profile-form input[type='url']:focus,
.profile-form input[type='tel']:focus,
.profile-form textarea:focus {
  outline: none;
}

.form-title {
  text-transform: uppercase;
  color: #728391;
  font-size: 0.875rem;
  margin-bottom: 1.2rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.form-label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.8rem;
}

.form-card {
  box-shadow: 0px 5px 10px #01368619;
  border-radius: 10px;
  padding: 1rem;
  background-color: #fff;
}

.form-card:not(:last-child) {
  margin-bottom: 1rem;
}

.form-group:not(:last-child),
.form-grid:not(:last-child) {
  margin-bottom: 1rem;
}

.profile-form button {
  background-color: #0062ff;
  border: 0;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  width: 50%;
  display: block;
  margin: 0 auto;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: inherit;
}

/*  
===============
MESSAGE PAGE
===============
*/

.message-chatbox::-webkit-scrollbar,
.message-inbox::-webkit-scrollbar {
  width: 1em;
}

.message-chatbox::-webkit-scrollbar-track,
.message-inbox::-webkit-scrollbar-track {
  background-color: #d7dde8;
}

.message-chatbox::-webkit-scrollbar-thumb,
.message-inbox::-webkit-scrollbar-thumb {
  background-color: #0062ff;
}

.message-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;
}

.message-inbox {
  display: none;
}

.message-search-form {
  position: relative;
  max-width: 80%;
  margin: 1.4rem auto;
}

.message-search-form input {
  border-radius: 35px;
  padding: 20px 40px;
  font-family: inherit;
  width: 100%;
  border: none;
  transition: all 0.2s;
}

.message-search-form input:focus {
  outline: none;
}

.message-search-form i {
  position: absolute;
  top: 20px;
  left: 15px;
  font-size: 1.4rem;
  color: #728391;
}

.inbox {
  display: grid;
  grid-template-columns: 50px 1fr auto;
  gap: 1rem;
  transition: all 0.2s;
  color: #9a9abe;
  padding: 1rem;
}

.inbox-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inbox-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  flex-shrink: 0;
}

.inbox.active,
.inbox:hover {
  background-color: #0062ff;
  color: #fff;
}

.inbox time {
  color: #0062ff;
  font-weight: bold;
}

.inbox:hover time {
  color: #00f241;
}

.inbox.active time {
  color: #00f241;
}

.message-chatbox {
  background-color: #fff;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.chat-bubble {
  position: relative;
  padding: 1rem;
  color: #fff;
  box-shadow: 0px 3px 6px #0b2a5a1a;
  border-radius: 4px;
}

.chat-bubble p {
  font-size: 12px;
}

.chat-bubble::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 0;
}

.chat-bubble-box {
  margin: 1rem;
}

.chat-bubble-box:not(:last-child) {
  margin-bottom: 3rem;
}

.chat-bubble-box time {
  color: #728391;
  display: block;
  margin-top: 0.4rem;
}

.receiver-time {
  text-align: right;
}

.sender-time {
  text-align: left;
}

.receiver {
  background-color: #728391;
}

.receiver::after {
  left: -9px;
  border-bottom: 20px solid #728391;
}

.sender {
  background-color: #60d91a;
}

.sender::after {
  right: -9px;
  border-bottom: 20px solid #60d91a;
}

.message-send-form {
  background-color: #d7dde8;
  display: flex;
  position: relative;
}

.message-send-form .message-input {
  flex: 1;
  border: solid 1px #ddd;
  border-radius: 35px;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  transition: all 0.2s;
  margin: 0.4rem;
}

.message-send-form button {
  background-color: transparent;
  color: #000;
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.message-send-form button span {
  font-size: 1.2rem;
}

.message-send-form textarea:focus {
  outline: none;
}

.message {
  z-index: 999;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  color: #222;
  transition: all .2s;
  transform: translate(0);
}

.message-success {
   background: #049210;
    color: #fff;
}

.message-error {
   background: red;
   color: rgb(158, 4, 4);
}

.message-hide {
  transform: translate(200%);
}




/*  
===============
LOGIN PAGE
===============
*/

.login-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 2rem);
}

.login-banner {
  background: transparent url(../images/login-bg.svg) center center / cover
    no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.login-banner p {
  font-size: 0.875rem;
}

.login-banner-title h2 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.login-banner a {
  color: #00f241;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.login-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: solid 1px #9a9abe;
  font-family: inherit;
  font-size: 1rem;
}

.login-form input[type='email'] {
  margin-bottom: 1rem;
}

.login-form .links {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.login-form .links a {
  color: var(--blue);
  font-size: 14px;
}

.login-form button {
  background-color: #0062ff;
  border: 0;
  color: #fff;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: inherit;
  font-size: 14px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.or-with {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.login-form .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form .social li:first-child a {
  margin-right: 1rem;
}

.login-form .social li:first-child a i {
  font-size: 1.875rem;
}

.login-form .social li:last-child a i {
  font-size: 1.875rem;
}

.login-form .tc {
  text-align: center;
  margin-top: 1rem;
}

.login-form .tc a {
  color: var(--blue);
  font-size: 14px;
}

/*  
===============
Medium screen
===============
*/

@media screen and (min-width: 768px) {
  .sidebar-nav img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .sidebar-nav li:not(:last-child) {
    margin-bottom: 15px;
  }

  .sidebar-nav a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: all 0.2s;
    border-left: solid 5px transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #9a9abe;
  }

  .sidebar {
    width: 280px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .main {
    padding: 2rem;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card-meta {
    font-size: 28px;
    margin-top: 30px;
  }

  .tab {
    padding: 10px 20px;
    font-size: 14px;
  }

  .dashboard-card-content {
    flex-direction: row;
    padding: 15px;
  }

  .dashboard-content {
    margin-left: 35px;
    justify-content: flex-start;
  }

  .dashboard-meta {
    margin-bottom: 1rem;
  }

  .dashboard-content h2 {
    font-size: 24px;
  }

  .detail h2 {
    font-size: 32px;
  }

  .dashboard-img img {
    width: 300px;
    height: auto;
  }
  .dashboard-details {
    margin-top: 0;
  }
  .dashboard-card-footer {
    padding: 15px;
  }

  .dashboard-card-footer a {
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-size: 14px;
    color: var(--blue);
  }

  .social li:nth-of-type(1) i {
    font-size: 25px;
  }

  .social li:nth-of-type(2) i {
    font-size: 28px;
  }

  .actions li:not(:last-child) {
    margin-right: 40px;
  }

  /* WORKSHOP PAGE */
  .workshop-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  /* Profle page */
  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .form-group:not(:last-child) {
    margin-bottom: 1rem;
  }

  /* Message page */
  .message-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .message-inbox {
    background-color: #1000a9;
    color: #fff;
    height: 100vh;
    overflow-y: auto;
    display: block;
  }

  .chat-bubble-box {
    margin: 2rem;
  }

  .chat-bubble p {
    font-size: 14px;
  }

  .message-send-form .message-input {
    flex: 1;
    border: solid 1px #ddd;
    border-radius: 35px;
    padding: 20px;
    font-family: inherit;
    font-size: 1rem;
    transition: all 0.2s;
    margin: 0.4rem;
  }

  .message-send-form button {
    background-color: transparent;
    color: #000;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .message-send-form button span {
    font-size: 2.4rem;
  }

  .receiver-box {
    margin-right: 6rem;
  }

  .sender-box {
    margin-left: 6rem;
  }

  /* Login page */
  .login-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 2rem);
  }

  .login-banner {
    background: transparent url(../images/login-bg.svg) center center / cover
      no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 4rem;
  }

  .login-banner-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
}

/*  
===============
Large screen
===============
*/

@media screen and (min-width: 1024px) {
  .profile-form input[type='text'],
  .profile-form input[type='search'],
  .profile-form input[type='email'],
  .profile-form input[type='password'],
  .profile-form input[type='url'],
  .profile-form input[type='tel'],
  .profile-form textarea {
    border: none;
    background-color: #f8f8f9;
    padding: 20px;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
  }

  .form-label {
    display: block;
    font-size: 1.125rem;
    margin-bottom: 0.8rem;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 290px 1fr;
    max-width: 1300px;
    margin: 0 auto;
  }

  .hamburger-icon {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    margin-right: 2rem;
  }

  .card-title {
    font-size: 0.8rem;
  }

  .card-meta {
    font-size: 1.2rem;
    margin-top: 30px;
  }

  .sidebar {
    position: static;
    transform: translate(0);
  }

  .sidebar-close {
    display: none;
  }

  .detail h2 {
    font-size: 22px;
  }

  .dashboard-card-footer a {
    letter-spacing: 1px;
    font-size: 0.875rem;
  }

  .social li:nth-of-type(1) i {
    font-size: 1rem;
  }

  .social li:nth-of-type(2) i {
    font-size: 1.2rem;
  }
}

/*  
===============
Extra Large screen
===============
*/

@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }

  .logo img {
    width: 100%;
  }

  .dashboard {
    display: grid;
    grid-template-columns: 290px 1fr;
    max-width: 1300px;
    margin: 0 auto;
  }

  .hamburger-icon {
    display: none;
  }

  .menu {
    display: flex;
    height: 100%;
  }

  .main-nav {
    margin-right: 4rem;
  }

  .auth-nav li:not(:last-child) a {
    margin-right: 2rem;
  }

  .sidebar {
    position: static;
    transform: translate(0);
  }

  .sidebar-nav .badge {
    left: 34px;
  }

  /* workshop page */
  .workshop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  /* Login page */
  .login-form input {
    width: 21vw;
  }

  /* Profile page */

  .profile-form button {
    background-color: #0062ff;
    border: 0;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    width: 50%;
    display: block;
    margin: 2rem auto auto auto;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: inherit;
    font-size: 1rem;
  }
}
